body {
    margin: 0;
    padding: 0;
    background: #f6f9fc;
}

table {
    border-spacing: 0;
}

td {
    padding: 0;
}

img {
    border: 0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    table-layout: fixed;
    background: #f6f9fc;
    padding-bottom: 40px;
}

.webkit{
    max-width: 600px;
    background: #ffffff;
}

.outer {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    border-spacing: 0;
    font-family: sans-serif;
    color: #4a4a4a;
}

.three-columns {
    text-align: center;
    font-size: 0;
    padding: 40px 0 30px 0;
}

.three-columns .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}

.padding {
    padding: 15px;
}

.three-columns .content {
    font-size: 15px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #388cda;
    font-size: 16px;
}

@media screen and (max-width: 600px) { 
    img.third-img-last {
        width: 200px !important;
        max-width: 200px !important;
    }
}

@media screen and (max-width: 400px) { 
    img.third-img {
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
        max-width: 100% !important;

    }
}